:root {
  --color-bg: #0f172a;
  --color-primary: #8b5cf6;
  --color-accent: #f97316;
  --color-text: #f8fafc;
  --color-muted: #9ea0a4c6;
  --color-muted-gradient: linear-gradient(to right, #0099ff, #ff0066);
  --font-main: "Poppins", sans-serif;
  --color-gradient-1: #0099ff;
  --color-gradient-2: #ff0066;
}
